.pic1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.pic2{
    width: 40px;
    height: 40px;
    border-radius:50%;
    object-fit:cover;
}
.ck-editor__editable {
    width: 584px;
    height: 319px;
}