// 字型大小
.fz-1{
    font-size: 12px;
}
.fz-2{
    font-size: 14px;
}
.fz-3{
    font-size: 16px;
}
.w{
    width: 150px;
}
.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
.w-320{
  width: 320px;  
}